{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="{% static 'JsCodePages/LoginPage.js' %}"></script>
        <link rel="stylesheet" href="/static/Food_Munch_Css_Styles/LoginPage.css">
    </head>
    <body>
        {% if ErrorFlag == True %}
            {% for Error in ErrorMsgList %}
                <div class="alert alert-danger" role="alert">
                    {{Error}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-12 outer-form-container d-flex flex-column justify-content-center" id="login-form">
            <div class="mt-3 mb-3">
                <div class="form-list shadow-lg">
                    <h1 class="main-container">Login</h1>
                    <form id="login-form-id" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-container">
                            <div>
                                <label for="emailid" class="form-heading mb-3">Email <img src="{% static 'Star_Pattern/starpattern.png' %}" alt="star-image" class="star-image"/></label>
                                <input type="text" class="form-control mb-3" name="LoginEmailId" id="emailid" placeholder="Enter Email" autocomplete="off" required>
                            </div>
                            <div class="position-relative">
                                <label for="password" class="form-heading mb-3">Password <img src="{% static 'Star_Pattern/starpattern.png' %}" alt="star-image" class="star-image"/></label>
                                <input type="password" class="form-control" name="LoginPassword" id="password" placeholder="Enter your password" maxlength="50" autocomplete="off" required>
                                <div class="input-group-append d-flex justify-content-end">
                                    <span class="input-group-text" id="togglePassword" style="cursor: pointer;margin-top:-30px;background-color:#ffffff;border:none;height:20px;margin-right:2px;"><i class="fa-solid fa-eye"></i></span>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="submit" id="login-button" class="login-button btn btn-info">Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="outer-container">
                        <!-- <h1 class="form-heading"><a href="">Forgot password?</a></h1> -->
                        <h1 class="form-heading">Dont have an account <a style="text-decoration:none;border:none;" href="{% url 'create account' %}">Create account</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

